<!DOCTYPE html>
                <html>
                    <head>
                    </head>
                <body>
                    <div class="wrapper">
                        <table class="tablestyle_1">
                            <tr>
                                <td>
                                    <h1 style="font-size: 16px; font-family: Arial, sans-serif; margin-bottom: 25px;">Hi {{name}}, Welcome To QBSConnect!</h1>
                
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;margin-bottom: 7px;">Your QBSConnect account has been created. Please use the below link to set your password and start using it.</p>
                
                
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;margin-bottom: 7px;"><a href={{verificationLink}}>Click here to set your password</a></p>
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;margin-bottom: 25px;margin-top: 7px;">(Please note that this link will expire after 2 Days)</p>
                
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;margin-bottom: 25px;">Once you have set your password, you can login at the following page with your Username and Password.</p>
                
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;margin-bottom: 7px;">Login page:<a href="https://infohub.qbslearning.com/" >Click to Login</a></p>
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;margin-bottom: 25px;margin-top: 7px;">User Email: {{email}}</p>
                                    
                
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;margin-bottom: 25px;">If you are unable to login, please contact your Administrator.</p>
                
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;margin-bottom:5px;">Regards,</p>
                                    <p style="font-size: 13px; font-family: Arial, sans-serif;">QBSConnect Team</p>
                                </td>
                            </tr>
                            
                        </table>
                
                 
                    
                    </div>
                
                
                </body>
                </html> 